body {
	font-family: Verdana, sans-serif;
	width: 90%;
	min-width: 300px;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	color: white;
	margin-top: 50px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: navy;
}
